@import "tailwindcss";

@layer base {
  :root {
    /* U variable fontů je dobré specifikovat název s 'Variable' */
    --font-sans: "Inter Variable", "Inter", system-ui, -apple-system, sans-serif;
    --font-mono: "JetBrains Mono Variable", "JetBrains Mono", monospace;
    
    --color-brand: #18181b; 
    --color-bg: #fafafa;
    --color-dot: #e4e4e7; /* zinc-200 pro náš jemný grid */
  }

  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--color-bg);
    
    /* Architektonický 'Dot Matrix' vzor pozadí */
    background-image: radial-gradient(var(--color-dot) 1px, transparent 1px);
    background-size: 24px 24px;
    
    color: var(--color-brand);
    font-family: var(--font-sans);
    
    /* Maximální čitelnost a ostrost */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  /* Inverzní a ostrá selekce textu */
  body::selection {
    background-color: var(--color-brand);
    color: var(--color-bg);
  }

  /* Čistý focus ring s lehce větším odstupem pro vzdušnost */
  :focus-visible {
    outline: 2px solid var(--color-brand);
    outline-offset: 4px;
    border-radius: 2px;
  }

  /* Moderní, nenápadný posuvník */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #d4d4d8;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #a1a1aa;
  }
}